<h1><%= title %></h1>
<%- messages() %>

<h3>Admin Dashboard</h3>
<p>
  <a href="/admin/accounts" title="Go to Accounts Management">View All Accounts</a>
</p>
<p>
  <a href="/admin/manage-classification" title="Go to Classificaiton Management">View All Classifications</a>
</p>