.rajdhani-light {
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.rajdhani-regular {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.rajdhani-medium {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.rajdhani-semibold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.rajdhani-bold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal;
}
* {
  font-family: "Rajdhani", Helvetica, sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  letter-spacing: 0.1em;
}
*:before,
*:after {
  box-sizing: border-box;
}
html {
  background-image: url("/images/site/checkerboard.jpg");
}
body {
  color: #91b8d4;
  justify-self: center;
}
#wrapper {
  width: auto;
  display: block;
  margin: auto;
  font-weight: 500;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: black;
  font-weight: 500;
}
.siteName {
  grid-column: 1/1;
  font-size: 3rem;
}
a {
  text-decoration: none;
}
a:link,
a:visited {
  color: #85d6ff;
}
#tools {
  grid-column: 3/3;
}
header,
nav,
main,
footer {
  margin: 0 auto;
}
nav {
  background-color: black;
  margin: 0 auto;
  width: 100%;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.navigation li {
  display: block;
}
nav li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #85d6ff;
  font-size: 1.1rem;
  padding: 10px;
}
nav a:hover,
a:active {
  background-color: #85d6ff;
  color: black;
}
main {
  background-color: #0a2239;
}
.notice {
  list-style-type: none;
  text-align: left;
}
.welcome {
  display: grid;
  position: relative;
  padding-bottom: 25px;
}
.dmc-background {
  grid-area: 1/3;
  width: 100%;
}
.overlay-text {
  grid-area: 1/2;
  width: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: left;
  color: #91b8d4;
  font-size: 0.9rem;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
}
.overlay-text p {
  padding-bottom: 1px;
}
.overlay-text img {
  width: 75%;
  height: auto;
}
.reviews ul {
  list-style-type: disc;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}
.reviews li {
  padding: 10px;
}
.parts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}
.dmc-upgrade {
  background-color: #91b8d4;
  text-align: center;
  padding: 10px;
}
.dmc-upgrade img {
  width: 100%;
  height: auto;
}
.dmc-upgrade a {
  display: block;
  color: #0a2239;
  text-decoration: underline;
  margin-top: 5px;
}
#inv-display {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  overflow: hidden;
  justify-content: left;
  padding: 10px;
}
#inv-display li {
  text-align: left;
  font-size: 1.1rem;
  padding: 10px;
  border-top: 1px solid #85d6ff;
}
#inv-display img {
  width: 100%;
  height: auto;
}
#inv-display hr {
  border: none;
  height: 0;
  margin: 0;
}
.vehicle-container img {
  width: 100%;
  height: auto;
  padding-bottom: 25px;
}
.vehicle-container h2,
p {
  padding-bottom: 25px;
}
.vehicle-container p:nth-of-type(1)::before {
  content: "Price: ";
  font-weight: 700;
}
.vehicle-container p:nth-of-type(2)::before {
  content: "Description: ";
  font-weight: 700;
}
.vehicle-container p:nth-of-type(3)::before {
  content: "Color: ";
  font-weight: 700;
}
.vehicle-container p:nth-of-type(4)::before {
  content: "Miles: ";
  font-weight: 700;
}
#management {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#management a {
  padding-bottom: 10px;
}
.user-form {
  color: #91b8d4;
  padding: 5px 2%;
  min-height: 20rem;
}
.user-form fieldset {
  margin: 2rem 0;
  border: 1px solid #85d6ff;
  border-radius: 6px;
  padding: 0.5rem 2%;
}
.user-form label {
  display: block;
  padding-top: 1rem;
  color: #85d6ff;
  font-size: 0.9rem;
}
.user-form input[type="text"],
.user-form input[type="email"],
.user-form input[type="password"] {
  display: block;
  background-color: #7093ae;
  border: 1px solid #85d6ff;
  border-radius: 6px;
  padding: 0.75rem;
  color: black;
  width: 75%;
  max-width: 400px;
  appearance: none;
  cursor: text;
}
.user-form ::placeholder {
  color: black;
}
.user-form input[type="submit"] {
  border: none;
  background-color: #91b8d4;
  color: #0a2239;
  border-radius: 6px;
  padding: 0.8rem;
  width: 50%;
  max-width: 400px;
  margin: 1rem 2% 2rem 2%;
  box-shadow: 1px 1px 4px #85d6ff;
  cursor: pointer;
}
.user-form input:disabled {
  background-color: #0a2239;
  color: #91b8d4;
  border-radius: 6px;
  padding: 0.8rem;
  width: 50%;
  max-width: 400px;
  margin: 1rem 2% 2rem 2%;
  box-shadow: 1px 1px 4px #85d6ff;
  cursor: auto;
}
.user-form input:required:invalid,
input:focus:invalid {
  border-bottom: solid 8px #85d6ff;
}
.user-form input:required:valid {
  border-bottom: solid 8px #7093ae;
}
#login p {
  text-align: center;
}
#unapprovedClassifications {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
#unapprovedClassifications form input[type="submit"] {
  margin: 0;
}
#unapprovedClassifications ul {
  display: block;
  width: 100%;
  justify-content: left;
  list-style-type: none;
  overflow: hidden;
  justify-content: left;
  padding: 10px;
}
#unapprovedClassifications li {
  display: block;
  text-align: left;
  font-size: 2rem;
  padding: 10px;
}
#unapprovedClassifications li a {
  display: block;
  text-align: left;
  text-decoration: none;
  color: #85d6ff;
  font-size: 1.1rem;
  padding: 10px;
}
.approveClassifBtn,
.deleteClassifBtn {
  display: inline-block;
  border: none;
  background-color: #91b8d4;
  color: #0a2239;
  border-radius: 6px;
  padding: 0.8rem;
  width: 100%;
  margin: 0;
  box-shadow: 1px 1px 4px #85d6ff;
  cursor: pointer;
}
.deleteClassifBtn {
  background-color: black;
  color: #85d6ff;
}
footer {
  display: block;
  background-color: black;
  color: #85d6ff;
  text-align: center;
  font-weight: 500;
  padding: 25px;
}

@media screen and (min-width: 500px) {
  body {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 5px solid #85d6ff;
  }
  .dmc-background {
    width: auto;
    height: auto;
  }
  .overlay-text {
    width: auto;
    height: auto;
    font-size: 1.5rem;
    padding: 25px;
  }
  .overlay-text img {
    width: auto;
    height: auto;
    padding-top: 25px;
  }
  #combined {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
  }
  .reveiws {
    grid-column: 2/3;
    grid-row: 1;
  }
  .upgrades {
    grid-column: 1/2;
    grid-row: 1;
  }
  #inv-display img {
    width: auto;
    height: auto;
  }
  .vehicle-container {
    column-count: 2;
  }
  .user-form input[type="submit"] {
    margin: 1rem 2% 2rem 25%;
  }
}
