<h1><%= title %></h1>
<%- messages() %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>
<div id="classification">
  <form class="user-form" action="/inv/add-classification" method="post">
    <fieldset class="classif-details">
      <label id="classification_name">Classification Name:<input type="text" name="classification_name" required pattern="[A-Za-z0-9]+" /></label>
      <span>No spaces or special characters allowed</span>
    </fieldset>

    <input type="submit" name="classifBtn" value="Add Classification" />
  </form>
</div>